# Zona horaria
TZ=America/Argentina/Cordoba

# --- App ---
APP_ENV=dev
DEBUG=true
ENV=development
SECRET_KEY=REEMPLAZAR

# --- Scheduler / usuario sistema (DEV) ---
AUTO_CREATE_SIS=1
SIS_PASSWORD=sis

# --- Postgres ---
POSTGRES_DB=soderia
POSTGRES_USER=admin
POSTGRES_PASSWORD=REEMPLAZAR

# --- SQLAlchemy ---
DATABASE_URL=postgresql+psycopg://admin:REEMPLAZAR@db:5432/soderia
